---
const { title, description, href, date, company } = Astro.props as {
  title: string;
  description: string[];
  href: string;
  date: string;
  company: string;
};
---

<li class="">
  <div class="flex justify-between items-center">
    <h3 class="underline underline-offset-4">
      <a href={href} class="old-link" target="_blank">{title}</a>
    </h3>

    <p>{date}</p>
  </div>

  <p class="mt-2 underline underline-offset-4 ml-2">{company}</p>

  <ul class="list-disc ml-10 mt-2">
    {description.map((item) => <li>{item}</li>)}
  </ul>
</li>
